<%= image_tag "logo.png" %>
	<div id="lunch_special">
		<div id="lunch_special_wording">
			<p>LUNCH SPECIAL   $4.95<br/><br/>
			(10:45 am – 3:00 pm) (offer expires 10/15/2011)<br/><br/>

			 COMBINATION SPECIAL  $6.95<br/><br/>
			(Served All Day) (offer expires 10/15/2010)<br/><br/>

			(This coupon cannot be combined with any other offer.)<br/><br/>
			</p>
		</div>
	</div>
	
	<div id="family_pack_1">
		<div id="family_pack_1_wording">
			<p>
			Economic Family Pack 1:<br/><br/>
			Only  $20.95<br/><br/>
			(Reg.  $29.35, Save 28%, Offer Expires 10/15/2011)<br/><br/>

			 1 Qt. of Sweet & Sour Chicken<br/><br/>
			 1 Order of General Tso’s Chicken<br/><br/>
			 1 Pt. of Chicken Fried Rice<br/><br/>
			 1 Order of Crab Rangoon<br/><br/>
			 2 Egg Rolls<br/><br/>

			(This coupon cannot be combined with any other offer.)<br/><br/>
			</p>
		</div>
	</div>
	<div id="family_pack_1">
		<div id="family_pack_1_wording">">
		<p>
			
		Economic Family Pack 2:<br/><br/>
		Only  $30.95<br/><br/>
		     (Reg.  $43.75, Save 29%, Offer Expires 10/15/2011)<br/><br/>

		  1 Qt. of Chicken Brocolli<br/><br/>
		  1 Qt. Of Pepper Steak with Onion<br/><br/>
		  1 Order of Sesame Chicken<br/><br/>
		  1 Qt. of Chicken Fried Rice<br/><br/>
		  1 Order of Teriyaki Chicken on Sticks (4)<br/><br/>
		  3 Egg Rolls<br/><br/>
		  (This coupon cannot be combined with any other offer.)<br/><br/>
		
		</p>
	</div>

